$primary: purple;
$backgroundPrimary: #f5f5f5;

.lichtgrijs { background-color: $backgroundPrimary};

.mainTitle {
  font-size: 24px;
  font-weight: 500;
  color: #118567;
  line-height: 1.2;
}

.payOff {
  font-size: 70px;
  line-height: 1.2;
}

.card-title {
  font-size: 40px;
  color: #075450;
  line-height: 1.2;
}

.card-text {
  font-size: 17px;
  line-height: 1.65;
  color: rgba(0, 0, 0, 0.5);
}

.layout-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}

.headers {
  font-size: 52px;
  font-weight: bold;
  color: #000000;
}

.square {
  height: 889px;
  background-color: #118567;
}

.square_top {
  margin-top: -62px;
}

.footer_header {
  color: white;
}

.footer {
  background-color: black;
}

.nav-link {
  font-size: 28px;
}

.primary-button {
  border-radius: 34px;
  background-color: #075450;
  font-size: 28px;
  padding: 15px 40px 15px 40px !important;
}

.black {
  background-color: black;
}

.black-font {
  color: black;
}

.white-font {
  color: white;
}

.no-padding {
  padding-left: 0px !important;
}