$primary: purple;
$backgroundPrimary: #f5f5f5;

.lichtgrijs { background-color: $backgroundPrimary};

.navbar {
  background-color: $backgroundPrimary;
}

.mainTitle {
  font-size: 24px;
  font-weight: 500;
  color: #118567;
  line-height: 1.2;
}

.payOff {
  font-size: 70px;
  color: #000000;
  line-height: 1.2;
}